.main {
  /* width: 70%;*/
  margin: auto;
  color: #363c90;
  max-width: 600px;
}

.container {
  border: 1px solid black;
}

.item {
  border-bottom: 1px solid black;
}

.fa-minus-circle {
  color: #363c90;
  font-size: 18px;
  margin: 0 10px;
  /* cursor: pointer; */
}
.fa-plus-circle {
  color: #f01c0d;
  margin: 0 10px;
  /* cursor: pointer; */
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  background-color: white;
  padding: 0;
}
